---
configMapGenerator:
  - files:
      - config.yml=oathkeeper-server-config.yml
    name: oathkeeper-config

resources:
  - ../../base

images:
  - name: oryd/oathkeeper
    newTag: v25.4.0-distroless

patches:
  - path: patch-deployment.yml
    target:
      kind: Deployment
      name: oathkeeper

namespace: auth
