# Created by https://www.toptal.com/developers/gitignore/api/Ansible
# Edit at https://www.toptal.com/developers/gitignore?templates=Ansible

### Ansible ###
*.retry

# End of https://www.toptal.com/developers/gitignore/api/Ansible

.pre-commit-trivy-cache
.secrets/
kratos/overlays/prod
prowler/base/private.pem
prowler/base/public.pem
prowler/base/configs.env.bk
node_modules/
