---
configMapGenerator:
  - files:
      - config.yml=oathkeeper-server-config.yml
    name: oathkeeper-config

resources:
  - ../../base
  - vmservicescrape.yml

images:
  - name: oryd/oathkeeper
    newTag: v25.4.0-distroless
  - name: bitnami/kubectl
    newTag: 1.33.4

patches:
  - path: patch-deployment.yml
    target:
      kind: Deployment
      name: oathkeeper

replacements:
  - source:
      kind: Service
      name: oathkeeper-metrics
      fieldPath: metadata.labels
    targets:
      - select:
          kind: VMServiceScrape
          name: oathkeeper
        fieldPaths:
          - spec.selector.matchLabels
        options:
          create: true

namespace: auth
