configMapGenerator:
  - files:
      - config.yml=kratos-server-config.yml
    name: kratos-config

resources:
  - ../../base
  - vmservicescrape-admin.yml
  - vmservicescrape-courier.yml

images:
  - name: oryd/kratos
    newTag: v25.4.0-distroless

patches:
  - path: patch-deployment.yml
    target:
      kind: Deployment
      name: kratos

replacements:
  - source:
      fieldPath: metadata.labels
      kind: Service
      name: kratos-admin
    targets:
      - fieldPaths:
          - spec.selector.matchLabels
        options:
          create: true
        select:
          kind: VMServiceScrape
          name: kratos-admin
  - source:
      fieldPath: metadata.labels
      kind: Service
      name: kratos-courier
    targets:
      - fieldPaths:
          - spec.selector.matchLabels
        options:
          create: true
        select:
          kind: VMServiceScrape
          name: kratos-courier

namespace: auth
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
